Node6Red/node-red/flows.json
[{"id":"5bcefb5e.4d8c6c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"74154c01.99e854","type":"mqtt in","z":"5bcefb5e.4d8c6c","name":"","topic":"m2miage/jos/a21601636/lum","qos":"2","datatype":"auto","broker":"7f71989f.7556b8","nl":false,"rap":true,"rh":0,"x":220,"y":180,"wires":[["6a24cebf.bede7"]]},{"id":"6a24cebf.bede7","type":"ui_gauge","z":"5bcefb5e.4d8c6c","name":"","group":"b2edcb96.69daf8","order":2,"width":0,"height":0,"gtype":"gage","title":"Light","label":"Lux","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":180,"wires":[]},{"id":"3fa8f25a.19b37e","type":"mqtt in","z":"5bcefb5e.4d8c6c","name":"","topic":"m2miage/jos/a21601636/sound","qos":"2","datatype":"auto","broker":"7f71989f.7556b8","nl":false,"rap":true,"rh":0,"x":230,"y":340,"wires":[["b8b0ce59.055c18"]]},{"id":"b8b0ce59.055c18","type":"ui_gauge","z":"5bcefb5e.4d8c6c","name":"","group":"b2edcb96.69daf8","order":3,"width":0,"height":0,"gtype":"gage","title":"Sound","label":"DB","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":340,"wires":[]},{"id":"f8a6f1fd.87c7c8","type":"mqtt in","z":"5bcefb5e.4d8c6c","name":"","topic":"m2miage/jos/a21601636/temp","qos":"2","datatype":"auto","broker":"7f71989f.7556b8","nl":false,"rap":true,"rh":0,"x":230,"y":480,"wires":[["7df70e2c.2632d"]]},{"id":"7df70e2c.2632d","type":"ui_gauge","z":"5bcefb5e.4d8c6c","name":"","group":"b2edcb96.69daf8","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":480,"wires":[]},{"id":"3195ef55.4900c","type":"mqtt in","z":"5bcefb5e.4d8c6c","name":"","topic":"m2miage/jos/a21601636/statut","qos":"2","datatype":"auto","broker":"7f71989f.7556b8","nl":false,"rap":true,"rh":0,"x":230,"y":60,"wires":[["a66a05b8.1af3c"]]},{"id":"a66a05b8.1af3c","type":"ui_text","z":"5bcefb5e.4d8c6c","group":"b2edcb96.69daf8","order":1,"width":0,"height":0,"name":"","label":"Statut","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":60,"wires":[]},{"id":"6b31f91e.e42d9","type":"mqtt in","z":"5bcefb5e.4d8c6c","name":"","topic":"m2miage/+/+/temp","qos":"2","datatype":"auto","broker":"7f71989f.7556b8","nl":false,"rap":true,"rh":0,"x":190,"y":600,"wires":[["5c32e635.d1d708"]]},{"id":"9acc5b75.124df8","type":"ui_gauge","z":"5bcefb5e.4d8c6c","name":"","group":"b2edcb96.69daf8","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperature Average","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":600,"wires":[]},{"id":"5c32e635.d1d708","type":"function","z":"5bcefb5e.4d8c6c","name":"","func":"var temps = context.get('temps')||[]\nvar arraySize = temps.length; \nif (arraySize >= 10000) {\n    temps.shift();\n}\nif (!isNaN(msg.payload)){\n    temps.push(parseFloat(msg.payload))\n    context.set('temps', temps)\n}\nsum = 0;\navg = 0;\nfor (i=0; i < arraySize; i++){\n    sum += temps[i]\n}\navg = Math.round((sum / arraySize) * 100) / 100\nreturn {payload: avg}\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":600,"wires":[["d713a41a.ce79e8"]]},{"id":"397c1157.4c88d6","type":"mqtt in","z":"5bcefb5e.4d8c6c","name":"","topic":"m2miage/jos/a21601636/level","qos":"2","datatype":"auto","broker":"7f71989f.7556b8","nl":false,"rap":true,"rh":0,"x":220,"y":700,"wires":[["ef778e57.8dae4"]]},{"id":"ef778e57.8dae4","type":"ui_text","z":"5bcefb5e.4d8c6c","group":"b2edcb96.69daf8","order":1,"width":0,"height":0,"name":"","label":"Level","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":700,"wires":[]},{"id":"d713a41a.ce79e8","type":"delay","z":"5bcefb5e.4d8c6c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":560,"y":600,"wires":[["9acc5b75.124df8"]]},{"id":"7f71989f.7556b8","type":"mqtt-broker","name":"UPJV","broker":"mqtt.u-picardie.fr'","port":"8883","tls":"","clientid":"","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b2edcb96.69daf8","type":"ui_group","name":"Default","tab":"d6c76dde.ca0ce","order":1,"disp":true,"width":"6","collapse":false},{"id":"d6c76dde.ca0ce","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]